body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #54d0e0;
}
main {
  width: auto;
  height: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
main .card {
  width: 98%;
  border-radius: 10px;
  background-color: #ebe6e6;
}
main .card .section-img {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .card .section-img .img-bg {
  width: 100%;
  height: 75%;
  z-index: 1;
  background: no-repeat 0% 0% / 100% url('/img/bg-pattern.webp');
  border-radius: 10px 10px 0px 0px;
}
main .card .section-img .img-user {
  width: 50%;
  height: 50%;
  z-index: 2;
  margin-top: -25%;
  background: no-repeat 0% 25% / 100% url('/img/img-user.webp');
  border-radius: 100%;
  border: 5px solid #a6e6ee;
}
main .card .sectio-info {
  width: auto;
  padding: 12px;
  padding-top: 25px;
}
main .card .sectio-info .name {
  text-align: center;
}
main .card .sectio-info .name h1 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 3px;
}
main .card .sectio-info .name h2 {
  font-size: 16px;
  margin-top: auto;
  margin-bottom: 0px;
}
