body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #54d0e0;
}
main {
  width: auto;
  height: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
main .card {
  width: 98%;
  height: 520px;
  border-radius: 10px;
  background-color: #ebe6e6;
}
main .card .section-img {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .card .section-img .img-bg {
  width: 100%;
  height: 75%;
  z-index: 1;
  background: no-repeat 0% 0% / 100% url('/img/bg-pattern.webp');
  border-radius: 10px 10px 0px 0px;
}
main .card .section-img .img-user {
  width: 50%;
  height: 50%;
  z-index: 2;
  margin-top: -30%;
  background: no-repeat 0% 23% / 100% url('/img/img-user.webp');
  border-radius: 100%;
  border: 5px solid #a6e6ee;
}
main .card .sectio-info {
  width: auto;
  padding: 12px;
  padding-top: 25px;
}
main .card .sectio-info .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
}
main .card .sectio-info .name h1 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 3px;
}
main .card .sectio-info .name h2 {
  font-size: 16px;
  margin-top: auto;
  margin-bottom: 0px;
}
main .card .sectio-info .name .nationality {
  width: 60px;
  height: 50px;
  margin-bottom: 20px;
  background: no-repeat 0% 0% / 100% url('/img/mexico.png');
}
main .card .sectio-info .links {
  width: auto;
  margin-top: 10px;
}
main .card .sectio-info .links .img-1 {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
}
main .card .sectio-info .links .img-1 a {
  width: 50%;
  height: 100%;
  display: block;
}
main .card .sectio-info .links .img-1 .icon-portafolio {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%/40% url('/img/logo.png');
}
main .card .sectio-info .links .img-1 .icon-github {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50% / 40% url('/img/github.svg');
  filter: invert(35%);
}
main .card .sectio-info .links .img-2 {
  width: auto;
  height: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
main .card .sectio-info .links .img-2 a {
  width: 50%;
}
main .card .sectio-info .links .img-2 .icon-linkedin {
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%/40% url('/img/linkedin.svg');
  filter: invert(35%);
}
